/build/
/dist/
/nbproject/private/
/SkyProcStarter/nbproject/private/
/SkyProcStarter/build/
/Files/
/SkyProcDebug/
/store/

# Maven
/target/

# Eclipse project (wholly derived from maven configuration)
.project
.classpath
.settings

# eclipse markdown preview plugin
resources/markdown/.*.md.html
